.navbar-title{
  font-size: 2em;
}

.clickable { cursor: pointer; }

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

body {
  display: flex;
  flex-direction: column;
}


html, body {
  height: 100%;
}

textarea {
  width:100%;
  resize: none;
}

